.book-cards-container {
  display: flex;
  margin-bottom: 15px;
}

.book-card-img {
  width: 120px;
  border-radius: 8px;
}

.books-content-container {
  padding-left: 10px;
  padding: 10px;
}

.book-title {
  color: #334155;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.book-author {
  color: #475569;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.book-status-rating-container {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.book-rating-txt {
  color: #475569;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
}

.rating-icon {
  font-size: 12px;
  color: #fbbf24;
  align-self: center;
  line-height: 1;
  padding-left: 8px;
}

.book-rating {
  color: #334155;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  padding-left: 5px;
}

.book-status {
  padding-top: 0px;
  margin-top: 0px;
  color: #475569;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
}

.status-span {
  color: #0284c7;
}

.link-decor {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .book-cards-container {
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 350px;
  }
}
