.slider-items-container {
  display: flex;
  flex-direction: column;
}

.slider-item-title {
  color: #334155;
  font-family: 'Roboto';
  font-size: 12px;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.slider-item-name {
  color: #475569;
  font-family: 'Roboto';
  font-size: 14px;
  text-align: center;
}

.link-decor {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .slider-item-title {
    font-size: 20px;
  }

  .slider-item-name {
    font-size: 20px;
  }
}
